@use '@/app/styles/variables.scss' as variables;


.workflowContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    height: 64px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .workflowInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: variables.$font-black-color;

      .workflowTitle {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .workflowDate {
        font-size: 12px;
        color: gray;
      }
    }

    .headerRight {
      display: flex;
      align-items: center;

      .saveButton {
        padding: 8px 16px;
        margin-right: 20px;
        font-size: 14px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }

      .saveButton:hover {
        background-color: #0056b3;
      }

      .userName {
        font-size: 14px;
        font-weight: 500;
        color: #333;

        .userImage {
          width: 35px;
          border-radius: 30px;
        }
      }
    }
  }

  .mainContent {
    background-color: #EAEAEA;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }
}

