@use '@/styles/variables' as variables;

$separator-gap: 70px;
$rem-font-size: 0.7rem;
$border-radius: 5px;

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loginTitle {
    display: flex;
    align-items: center;
    height: 210px;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: variables.$bg-primary-color;
    border-radius: $border-radius;

    main {
      width: 100%
    }

    .errorMessage {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;

      .message {
        color: #ff322e;
        font-size: $rem-font-size;
      }
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      background-color: variables.$bg-primary-color;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      color: variables.$font-primary-color;
    }

    .loginBtn {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      background-color: #2875E6;
      color: variables.$font-second-color;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
    }

    .loginBtn:hover {
      background-color: #2363C5FF;
    }
  }

  .separator {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 0;
    font-size: $rem-font-size;
    color: variables.$bg-second-color;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 120px;
      border-top: 1px solid variables.$bg-second-color;
    }

    &::before {
      left: $separator-gap;
    }

    &::after {
      right: $separator-gap;
    }

    span {
      background-color: variables.$bg-primary-color;
      padding: 0 10px;
    }
  }

  nav {
    margin-bottom: 10px;

    .signUp {
      color: variables.$font-primary-color;
      text-decoration: underline;
      font-weight: bold;
      margin: 10px 0;
      font-size: $rem-font-size;
    }
  }

  .socialLoginArea {
    text-align: center;

    .googleLogin {
      display: inline-block;
      border: none;
      background-color: variables.$bg-primary-color;
      padding: 0;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;

      .googleLoginImg {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }

      &:hover {
        opacity: 0.8;
        background-color: variables.$bg-primary-color;
      }
    }
  }
}
